html {
  background-color: #fff;
  font-family: 'Poopins', sans-serif;
}

body {
  background-color: #f7f7f9;
  margin-top: 0;
  padding-top: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** Nav section start */
.welcome-section {
  background-color: #fff;
}

.bar-section {
  position: fixed;
  background-color: #fff;
  width: 100%;
}

.wrapper {
  padding-bottom: 30px;
  margin: 10px 25px 0 25px;
}

.nav-bar {
  padding-top: 10px;
  display: flex;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 10;
}

.menu-desktop {
  display: none;
}

.menu {
  display: block;
  flex: 1;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.toogle-btn {
  width: 35px;
  height: 3px;
  background-color: #6070ff;
  margin: 6px 0;
}

/** Nav section start */

/**  Headline section start */

.headline-wrapper {
  padding-bottom: 100px;
  background-image: url("../images/header_section_background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 110px;
  background-color: #fff;
}

.about-headline {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.headline-container {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
  padding-top: 100px;
}

.intro-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: 'Poppins', sans-serif;
  color: #091e42;
  margin: 12px 0;
}

.intro-message {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #344563;
}

.connect h3 {
  color: #6070ff;
}

.social {
  display: flex;
  padding-left: 0%;
  list-style: none;
  width: 200px;
  margin: 0 25px 0 0;
}

.social-media {
  font-size: 20px;
  color: #505f79;
  flex: 1;
}

.social-media a {
  color: #505f79;
}

/**  Headline section end */

/** Works Section Start **/
.ruby {
  display: none;
}

.img-style {
  display: block;
}

.img-style-desktop-popup {
  display: none;
}

.img-style-desktop {
  display: none;
}

.works {
  background-color: #f7f7f9;
  margin: 0;
  display: grid;
  grid-template-rows: auto;
  padding-top: 80px;
}

.works-flex {
  height: auto;
  background: white;
  margin: 0 15px 80px 15px;
  border-style: solid;
  border-color: rgb(219, 214, 214);
  border-width: 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.works-flex-item {
  margin: 0 15px 0 15px;
  justify-content: center;
}

.work-image {
  align-self: center;
  border-radius: 10px;
  margin-top: 15px
}

.intro-text-works {
  font-weight: 650;
  padding-top: 10px;
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  color: #344563;
  margin: 0 0 0 0;
}

.titles-container {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-self: flex-start;
  padding-top: 10px;
  width: 100%;
}

.titles-item {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: lightslategray;
  font-weight: 500;
  list-style-image: url("../images/Counter.png");
  flex: 2;
}

.list-main {
  list-style-type: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #344563;
  padding-right: 25px;
  flex: 1;
}

.works-description {
  padding-top: 10px;
  margin-top: 0;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  color: #344563;
}

.lang-container {
  width: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 5px;
  margin-left: 0;
}

.lang {
  background: #ebebff;
  border-radius: 8px;
  font-size: 15px;
  padding: 4px 12px 4px;
  color: #6070ff;
  margin: 5px;
}

/** Works Section End **/

/** About me **/

.aboutme-wrapper {
  padding-top: 100px;
  background-color: white;
  border-top: solid;
  border-color: whitesmoke;
  border-width: 5px;
  border-top-right-radius: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dflex {
  background: #f7f7f99a;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  font-size: medium;
  font-weight: 500;
}

.dflex-item {
  padding-left: 10px;
}

.more_skills {
  margin: 0 30px 0 30px;
  padding-left: 0;
  list-style: none;
}

.main-skills {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.skills {
  margin: 0 30px 0 30px;
  padding-left: 0;
  padding-bottom: 20px;
  list-style: none;
}

.skills > li {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #091e42;
  padding-bottom: 10px;
}

.header-skill {
  font-weight: 500;
  padding-bottom: 20px;
  height: 60px;
}

.lined_skill {
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #091e42;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #7e8083;
}

.divider {
  padding-bottom: 100px;
}

.push {
  float: right;
}

/**  About me end  **/

/*** Contact me start ***/

.contact-wrapper {
  background-color: #6070ff;
  background-size: 100%;
  border-top-left-radius: 100px;
  width: 100%;
  height: 100%;
}

.contact-wrapper-two {
  padding-top: 50px;
  background-image: url("../images/contact_form shapes_mobile.png");
  background-repeat: no-repeat;
  background-position-y: 30px;
  background-position-x: right;
  height: 100%;
}

.footer-container {
  background-color: white;
  height: 100%;
}

.contactme-headline {
  background: transparent;
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.contactme-body {
  display: flex;
  flex-direction: column;
  margin: 25px 30px 0 30px;
  align-items: center;
}

.contact-heading {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-bottom: 5px;
}

.message-contact {
  margin-top: 5px;
  font-weight: 400;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 25px 30px 0 30px;
  height: 500px;
}

.form-input {
  margin-bottom: 15px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  border: 1px solid #cfd8dc;
  padding: 16px;
  color: #172b4d;
}

.form-textarea {
  height: 170px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  border: 1px solid #cfd8dc;
  padding: 16px;
  color: #172b4d;
  margin-bottom: 15px;
}

.contact-submit {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  background: #fff;
  color: #6070ff;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.btn-effect:disabled {
  border: 2px solid grey;
  background: white;
  color: grey;
  width: 140px;
  height: 48px;
  border-radius: 8px;
}

.btn-effect:hover {
  border: 1px solid #396df2;
  background: #396df2;
  color: white;
  width: 140px;
  height: 48px;
  border-radius: 8px;
}

.btn-effect:active {
  background: navy;
  color: white;
  width: 140px;
  height: 48px;
  border-radius: 8px;
}

/*** Contact me end ***/

/*** MENU OVERLAY ***/

.menu-overlay {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
  mix-blend-mode: multiply;
  background: #6070ff;
  overflow-x: hidden;
  transition: 0.5s;
}

.closeMenu {
  height: 12px;
  width: 12px;
  border-radius: 0;
  float: right;
  margin-right: 38px;
  margin-top: 62px;
  color: white;
}

.menu-mobile {
  list-style: none;
  padding: 106px 96px 0 28px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.menu-mobile > li {
  padding-bottom: 30px;
}

.menu-mobile > li a {
  color: white;
  text-decoration: none;
}

/** MENU OVERLAY END ***/
