/** Import Font **/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/** Import Font  End **/

html {
  background: #ffff;
  font-family: 'Poopins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 25px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** Nav section start */
.wrapper {
  display: flex;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  flex: 10;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070ff !important;
}

.menu {
  display: block;
  flex: 1;
}

.toogle-btn {
  width: 35px;
  height: 3px;
  background-color: #6070ff;
  margin: 6px 0;
}

/** Nav section start */

/**  Headline section start */

.headline-text {
  justify-self: center;
}

.headline-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom-left-radius: 110px;
  background-image: url("../images/header_section_background.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-text {
  font-weight: 700;
  font-size: 28px;
  line-height: 60px;
  font-family: 'Poppins', sans-serif;
  color: #091e42;
  margin: 12px 0;
}

.headline-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #344563;
}

.headline-text h5 {
  color: #6070ff;
}

.social {
  padding-left: 0%;
  list-style: none;
}

.social-media {
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  color: #505f79;
}

.social-media a {
  color: #505f79;
}

/**  Headline section start */
